[[hosts]]
    update_url = "https://dynupdate.no-ip.com/nic/update"
    username = "username@email.com"
    password = "password"
    hostname = "example.servehttp.com"
    offline = "NO"
    update_time = 600 # in sec, 10min
    ip = "10.20.30.40" # Fixed IP
[[hosts]]
    update_url = "https://dynupdate.no-ip.com/nic/update"
    username = "otheruser@email.net"
    password = "secure"
    hostname = test.serveftp.com"
    update_time = 1800 # 30 min
    offline = "YES" # Server is temporarily offline
